body {
  background-color: rgb(255, 168, 168);
}

h1:hover {
  color: rgb(225, 235, 80);
}

p {
  column-count: 3;
  column-gap: 40px;
  column-rule: solid 2px red;
}

p::selection {
  background-color: green;
  color: white;
}
